
body{
    background:#f1f1f1;
}

a{
    color: white;
}

.navbar{
    background-color: #69d2e7;
    min-height: 100px;
    margin-bottom: 0px;
    border-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

.navbar-brand{
    padding-top: 23px;
    padding-left: 100px;
}
.btn {
    float: right;
    display: inline-block;
    text-align: center;
    margin-right: 100px;
    margin-top: 23px;
    width: 43px;
    height: 43px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #737373;
    border-color: white;
}

.btn:hover {
  box-shadow:inset 0 0 20px rgba(0,0,0,.2),
  0 2px 0 rgba(255,255,255,.4),
  inset 0 2px 0 rgba(0,0,0,.1);
}

.container-link{
    min-height: 6px;
    background: #fa6900;
}

.nav>li>.link{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    color: black;
}

.well{
     margin-bottom: 0px;
     margin-top: 0px;
     background: #fa6900;
}


.banner{
    font-family:Arial;
    text-align: center;
    color:white;
    background: #69d2e7;
    height: 364px;
}

.banner-title{
    overflow:hidden;
}

h1{
    font-size: 60px;
    font-weight: bold;
    padding-top: 60px;
    margin:0px;
}

h3{
    margin: 0px;
}

.rectangle-about{
    font-family: arial;
    text-align: center;
    margin-top: 90px;
    margin-right: auto ;
    margin-left: auto ;
    max-width: 834px;
    min-height: 290px;
    background: white;
    border-radius: 10px;
}

h2{
    margin-top: 0px;
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding-top:47px;
}

h2::after{
    content: "";
    display:block;
    margin:10px auto 0;
    background-color:#dedede;
    max-width:40%;
    height: 2px;
}

.rectangle-about-p{
    padding: 36px;
    color: black;
    font-size: 17px;
    text-align: left;
}

@media (max-width:834px){
.rectangle-about{min-width:100%; min-height: 100%;}
.rectangle-about-p{padding: 20px;}
.navbar-brand{padding: 23px 0px 0px 15px; width: 170px;}
.btn{margin-right:15px; margin-top: 23px; }
}

.about-us{
    margin-top:290px ;
    background: #f1f1f1;
}

.img-rounded{
    border-radius: 10px;
    margin-bottom: 24px;
}

.text-padding{
    min-width: 200px;
    margin-bottom: 40px;
    display: inline-block;
}

.browser-section{
    min-height: 474px;
   background: #fa6900;
   text-align: center;
}

.browser-p{
    padding: 36px;
    color: white;
    font-size: 17px;
    display: inline-block;
}

.browser{
    display: inline;
}

.testimonials{
    min-height: 533px;
    background: #f1f1f1;
}

.testimonials-content{
    margin-top: 43px;
    margin-bottom:60px;
    font-size: 17px;
    text-align: center;
    display:inline-block;
}

.carousel-indicators {
    position: inherit;
    width: inherit;
    margin-left: inherit;
}

.carousel-inner>.item>img{
display: inline;
}

.alice-img{
    margin-top: 50px;
    margin-bottom: 33px;
}

.carousel-indicators .active {
    background-color: #69d2e7;
    width: 18px;
    height: 18px;
    margin: 10px;
}

.carousel-indicators li{
    background: white;
    width: 18px;
    height: 18px;
     margin: 10px;
}

.fifth-section{

    background: #fa6900;
    color:white;
}

.round{
padding-right: 0px;
overflow:hidden;
}

.fifth-section-description{
    font-family:Arial;
    padding-top: 120px;
    padding-left:90px;
}

.fifth-section-text{
    padding-top: 25px;
    font-size: 17px;
}

@media (max-width:900px){
.fifth-section-description{padding-left:20px; padding-top:0px;}
.fifth-section-text{padding-top: 10px;}
}

@media (max-width:767px){
.fifth-section-description{padding-top:20px;}
.round{display: none;}
}

.footer{
    min-height: 556px;
    background: #f1f1f1;
}

.social-btn{
    margin-top: 20px;
    white-space: nowrap;
}

.footer-btn {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer-col-left{
    padding-top:93px;
    padding-left: 100px;
    padding-right: 70px;
    font-size: 17px;
}


.footer-col-right{
    padding:93px 53px 48px 100px;
}

.col-right-title{
    margin-bottom: 50px;
}

.footer-col-row{
    display: flex;
    padding: 10px;
}

.footer-img{
    padding-right: 28px;
}

@media (max-width:767px){
.footer-col-left{padding-left:15px;padding-right: 15px;}
.footer-col-right{padding-left: 15px; padding-right: 15px;}
}

@media (max-width:767px){
.footer-col-left{padding-left:15px;padding-right: 15px;}
.footer-col-right{padding-left: 15px;}
}

.footer-bar{
    min-height: 69px;
    background-color: #69d2e7;
    color:white;
}

.footer-padding{
    padding: 28px 88px 28px 88px;
}

@media (max-width:835px){
.footer-padding{
    padding: 10px;
    text-align: center;}
}


.slidein1{
  animation-duration: 1s;
  animation-name: slidein;
}
  @keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.slidein2{
  animation-duration: 3s;
  animation-name: slidein;
}
  @keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.transform-animation {
    transition: .2s;
}
.transform-animation:hover {
    transform: scale(1.1);
    color: #000;
    outline-color: #b0b0b0;
}
.transform-animation:after {
    display: inline-block;
    padding: 10px;
    content: attr(class);
}

.menu-icon{
    background: url(../img/menu.png) center center no-repeat;
}